canvas {
    border: 1px solid #d3d3d3;
    background-color: #f1f1f1;
}


/* Home Page Styling.*/

body{
    background-image: url("649370.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}



/* Loading styls.*/

#loading{
    width: 300px;
    height: 50px;
    position: relative;
    top: 28em;
    left: 31em;
    border-radius: 50px;
    overflow: hidden;
}

.loading-bar{
    width: 0;
    height: 50px;
    position: absolute;
    background: linear-gradient(to right, rgb(8, 8, 112), rgb(219, 68, 68));
}
/* Loading styls.*/


/*Controls Styles*/
.fadein{
    animation: FadeIn 1s ease-in-out forwards;
}
div#controls{
    opacity: 0;
    display: none;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
    margin: 5px 25px;
}
a{
    text-decoration: none;
    color: white;
    font-size: 2em;
    font-size: 2em;
    text-shadow: 0px 0px 2px black;
}
li:hover{
    text-decoration: underline;
}


@-webkit-keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/*Controls Styles*/


/*Home Page Styling*/
