
body{
	background-image: url("1111002.jpg");
	background-size: cover;
}
.option{
	width: 20%;
	height: 200px;
	text-align: center;
	color: white;
	font-size:20px ;
	margin: auto;
	margin-top: 15%;

}
.level{
  color: black;
  text-align: center;
  font-size: 150%;
}
.list{
	list-style-type: none;

}
.button{
  background-color: orange;
  width:200px;
  padding: 10px;
  display: block;
}
.button:hover{
	color: red;

	}
