body{
	background-image: url("1111006.jpg");
	background-size: cover;


}
.character{
	color: black;
	text-align: center;
	font-size: 150%;

}
.div1{
	width:20%;
	height: 200px;
		margin:auto;
    margin-left: 300px;
    margin-right: 20px;
    margin-top: 10%;
    padding-right: 50px;
    padding-left: 20px;
    display: inline-block;

}
.div2{
	width:20%;
	height: 200px;
	margin:auto;
    margin-left: 50px;
    margin-right: 20px;
    margin-top: 10%;
    padding-right: 50px;
    padding-left: 20px;
    display: inline-block;

}
